:root {
  --primary-color: #238711;
  --primary-light-color: #44AA44;
  --primary-dark-color: #135501;
}

html {
  font-family: sans-serif;
  background-color:hsla(72,19%,55%,1);
  background-image:
  radial-gradient(at 99% 84%, hsla(60,36%,63%,1) 0px, transparent 50%),
  radial-gradient(at 78% 39%, hsla(97,36%,63%,1) 0px, transparent 50%),
  radial-gradient(at 17% 33%, hsla(97,36%,63%,1) 0px, transparent 50%),
  radial-gradient(at 97% 82%, hsla(323,36%,63%,1) 0px, transparent 50%),
  radial-gradient(at 40% 60%, hsla(301,36%,63%,1) 0px, transparent 50%),
  radial-gradient(at 24% 65%, hsla(39,36%,63%,1) 0px, transparent 50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  min-width: min-content;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 120ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.title {
  margin: 8px 0 16px 0;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid #333;
  padding: 16px;
}

