.homegrid {
  display: flex;
  gap: 16px;
  justify-content: center;
  text-align: center;
}

.homelink {
  width: 512px;
}

.homelink a {
  color: black;
}

.homelink img {
  width: auto;
  height: 64px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.homelink img:hover {
  transform: scale(1.25);
}

.homelink p {
  width: 105px;
}

.site-footer {
  text-align: center;
}
