---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate } from "../util/format.ts";

const blogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<BaseLayout title="Blog">
  {blogPosts.map(post => (
    <li class="postlist">
      <a href={"/blog/" +post.slug} class="postlink">{post.data.title}</a>
      &mdash; 
      <time datetime={post.data.date.toISOString()} class="timestamp">
        {formatDate(post.data.date)}
      </time>
    </li>
  ))}
</BaseLayout>
<style>
  .postlist {
    list-style-type: none;
  }
  .postlink {
    color: var(--primary-color);
  }
  .postlink:visited {
    color: var(--primary-dark-color);
  }
  .postlink:hover {
    color: var(--primary-light-color);
  }
  .timestamp {
    color: var(--primary-dark-color);
  }
</style>
