---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact">
  <p>Message me on</p>
  <ul>
    <li><a href="https://mastodon.gamedev.place/@alghost">Mastodon</a></li>
    <li><a href="https://matrix.to/#/@alghost:matrix.org">Matrix</a></li>
    <li><a href="https://discordapp.com/users/alghost">Discord</a></li>
  </ul>
</BaseLayout>
