---
const year = new Date().getFullYear();
---
<p class="footer">&copy {year} by Milan Gruner. All rights reserved.</p>
<style>
.footer {
  border-top: 1px solid #000;
  padding-top: 16px;
  color: #000;
  margin-bottom: 0;
}
</style>
