---
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
  useViewTransitions?: boolean;
}
const { title, useViewTransitions } = Astro.props;

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

function getTitle(title: string) {
  if (!title) {
    return "GrunerTech";
  }
  return `${title} - GrunerTech`;
}
---
<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
    <BaseHead title={getTitle(title)} />
    {useViewTransitions && <ViewTransitions />}
  </head>
  <body>
    <Header />
    <h1 class="title">{title}</h1>
    <article>
      <slot />
    </article>
    <Footer />
  </body>
</html>
